.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.flex-container > div {
  /* margin-top: 5vh;
  margin-right: 10vw;
  margin-bottom: 5vh;
  margin-left: 10vw; */
  margin: 2vmax;
  padding-top: 2vmax;
  padding-right: 1vmax;
  padding-left: 1vmax;
  padding-bottom: 4vmax;
  font-size: 20px;
  background-color: #ebbc57;
}

h2{
    font-size: 4vmin;
    font-weight: bold;
    display: inline;
}

.about-img {
    height: 15vmin;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 3vh;
}