.projects {
  display: grid;
  height: 100vh;
  /* border: 2px solid greenyellow; */
  text-align: center;
  justify-content: center;
  padding-top: 10vmax;
}

.projects > h2 {
  text-decoration: underline;
  font-size: xx-large;
}

.project-list {
  height: 40vh;
  margin-left: 10vmax;
  margin-right: 10vmax;
  /* padding-top: 5vmax; */
  justify-content: space-around;
  display: flex;
  /* border: 2px solid red; */
}

.project-card {
  width: 30vw;
  height: 30vh;
  margin-left: 25px;
  margin-right: 25px;
  border: 3px solid #ed8a34;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  color: #102f45;
}

.project-card > h1 {
  font-size: x-large;
  font-weight: 900;
}

.projects > h3 {
  font-style: italic;
}

.projects > h3 > a {
  color: #e08f48;
}
