.projects {
  display: grid;
  height: 100vh;
  text-align: center;
  justify-content: center;
  padding-top: 10vmax;
}

.projects > h2 {
  text-decoration: underline;
  font-size: xxx-large;
}

.project-list {
  height: 40vh;
  margin-left: 10vmax;
  margin-right: 10vmax;
  justify-content: space-around;
  display: flex;
}

.project-card {
  width: 30vw;
  height: 45vh;
  margin-left: 25px;
  margin-right: 25px;
  border: 4px solid #d9b694;
  background-color: #346981;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
}

.project-card > img {
  width: 20vw;
  height: 25vh;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 5px;;
}

.project-card > h1 {
  font-size: xx-large;
  font-weight: 900;
}

.projects > h3 {
  margin-top: 5px;
  font-style: italic;
}

.projects > h3 > a {
  color: #ed8a34;
}
