.projects {
  height: 100vh;
  border: 2px solid greenyellow;
  text-align: center;
  justify-content: center;
  padding-top: 10vmax;
}

.projects > h2 {
  text-decoration: underline;
}

.project-list {
  margin-left: 10vmax;
  margin-right: 10vmax;
  padding-top: 5vmax;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  /* border: 2px solid red; */
}

.project-card {
  width: 30vw;
  height: 30vh;
  border: 3px solid #ed8a34;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  color: #102f45;
}

.project-card > h1 {
  font-size: x-large;
  font-weight: 900;
}

.projects > h3 {
  padding: 2vh;
  font-style: italic;
}

.projects > h3 > a {
  color: #e08f48;
}
