.wrapper { 
    height: 20vmin;
    border-radius: 8%;
    margin-top: 5vh;
    margin-right: 10vw;
    margin-bottom: 5vh;
    margin-left: 10vw;
    padding: 20px;
    justify-content: center;
    position: relative;
    overflow: hidden;
    font-size: 5vmin;
    font-weight: bold;
    text-align: center;
    background-color: #a3c7e1;
}