.nav-bar{
    font-family: 'Raleway', sans-serif;
    font-size: xx-large;
    color: #e08f48
}

/* a{
    color: rgb(226, 211, 43);
} */


.wrapper {
    margin: auto;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    font-size: x-large;
    text-align: center;
    width: 70vw;
    height: 20vh; 
    border: 1px solid black;
}

#slide {
    position: absolute;
    left: -1000px;
    height: 100px;
    -webkit-animation: slide 2s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 2s forwards;
    animation-delay: 1s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}